*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
  /* overflow-x: hidden; */
}
#main{
    position: relative;
    overflow-x: hidden;
}

#nav{
    position: fixed;
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    z-index: 999;

}
#nav-part1{
    height: 30px;
    width: 60px;
    /* background-color: aqua; */
}
.line1,.line2,.line3{
   height: 4.5px;
   width: 100%;
   background-color: #434b34;
   margin-bottom: 6px;
  
}
#nav-part2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
#nav-part2 button{
   padding: 10px 20px;
   border-radius: 20px;
   font-size: 15px;
   font-weight: 500;
   border: 1px solid #434b34;
   color: #434b34;
  
   
}
#nav-part2 button:nth-child(2){
    background-color: #434b34;
    border: none;
    color: white;
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #E3E3C4;
   
}
#page1 svg{
    scale: 0.22;
    position: fixed;
    top: -15%;
    fill: #434b34;
    z-index: 999;
   
}
#page1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center; 
    
}
#page2{
    min-height: 150vh;
    width: 100%;
    background-color: #545E41;
    position: relative;
}
#page2 #text-container{
    position: relative;
    margin-top: -40vw;
   
}
#text-container h2 {
    font-size: 5vw;
    font-weight: 100;
    line-height: 5.6vw;
    color: #434B34;
    text-align: center;
    font-family: PP Woodland;
    text-align: center;

}
#text-comtainer h2 span{
    font-family: PP Woodland;
    /* color: #434B34; */
}
#page2 #svg1{
    width: 220%;
    height: 50vh;
    fill: #545E41;
    position: absolute;
    margin-left: 7vw;
    padding-top: 0vw;
    z-index: 4;
}

#page2 #svg2{
    width: 220%;
    height: 55vh;
    fill: #E3E3C4;
    position: absolute;
    padding-top: 0vw;
    margin-left: 6.5vw;
    z-index: 3;
}
#page3{
    min-height: 150vh;
    width: 100%;
    position: relative;
    background-color: #F7F7EE;
     padding-top: 8vh;
    /* background-color: salmon; */
}
#text-content2{
    position: relative;
    margin-top: 50vh;
}
#page3 h2{
    font-size: 5vw;
    font-weight: 100;
    text-align: center;
    color: #E3E3C4;
    font-family:  PP Woodland; 
}
 #page3 #bottom-part{
    gap: 18px;
    position: relative;
    height: 110vh;
    width: 100%;
    /* background-color: #F7F7EE; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3.5vw;
    margin-top: 5vw;

    
}
#bottom-part #part1{
    position: relative;
    height: 110vh;
    width: 40%;
    /* background-color: aqua; */
 
}
#bottom-part #part1 h5{
    font-size: 1.1vw;
    font-weight: 500;
    font-family: DM Sans;
    /* padding-left: 2vw; */
    
}
#exp{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 3vw;
    /* padding: 0vw 2vw; */
    gap: 40px;
    
   
}
#exp h4{
    font-size: 1.7vw;
    font-weight: 600;
    font-family: DM Sans;
}
#ar-btn{
    padding: 4px 18px;
    border-radius: 15px;
    border: none;
    background-color: #545E41;
    
}
#ar-btn i{
    font-size: 20px;
    color: #fff;
}
#bottom-part #part1 img{
    height: 48%;
    width: 100%;
    margin-top: 6vw;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

#bottom-part #part2{
    position: relative;
    height: 110vh;
    width: 50%;
    /* background-color: rgb(13, 159, 132); */
}
#bottom-part #part2 #first-img{
    height: 54%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
#bottom-part #part2 #sec-img{
    height: 38%;
    width: 43%;
    object-fit: cover;
    margin-top: 18px;
    object-position: center;
    border-radius: 20px;
}
#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #F7F7EE;
    padding: 90px 65px;
    
}
#page4 .elem{
    position: relative;
    /* margin-top: 20%; */
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #dadada;
    border-top: none;
    overflow: hidden;
    
    
}
#page4 .elem:nth-child(1){
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: 1px solid #dadada;
}
.elem:nth-last-child(1){
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid #dadada;
}

.left{
    height: 100%;
    width: 22%;
    left: 0;
    position: absolute;
    transition: all ease-out 0.4s;
    transform: translateX(-100%);
}
.left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   
}
.right{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: all ease-out 0.4s;
    /* background-color: #5b6647; */
    color: #434B34;
    padding: 2.6vw 4vw;
}

.elex-1 h2{
    margin-bottom: 1.2vw;
    font-size: 2.4vw;
    font-family: PP Woodland;
    font-weight: 100;
}
.elex-1 p{
    font-size: 1vw;
    font-family: DM Sans;
    margin-bottom: 0.8vw;
    /* color: #5b6647; */
}
.elex-2 h5{
    position: relative;
    padding: 4px 18px;
    font-size: 0.8vw;
    font-weight: 600;
    border-radius: 50px;
    background-color: #5b6647;
    color: #E3E3C4;
    transition: all ease-out 0.4s;
    overflow: hidden;
    font-family: DM Sans;

}
 .elex-2 h5 i{
    position: absolute;
    background-color: #E3E3C4;
    color: #5b6647;
    padding: 5px 18px;
    font-size: 1vw;
    left: 0;
    top: 0;
    opacity: 0;
}
.elem:hover .right{
    width: 78%;
    background-color: #5b6647;
    color: #E3E3C4;
}
.elem:hover .left{
    transform: translateX(0);
   
}
.elem:hover .elex-2 h5{
    background-color: #E3E3C4;
    color: #5b6647;
    
}
.elem:hover .elex-2 h5 i{
    opacity: 1;
}


